# Python
__pycache__/
*.pyc

# Виртуальное окружение
venv/

# База данных (локальные данные)
users.db

# Лог или временные файлы
*.log
temp_*.zip

# Секреты (если появятся)
config.py

# Изображения, медиа и прочее
*.jpg
*.png
tickets/*.pdf
admins.txt